@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #121212;
  color: #fff;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

.skew-container {
  overflow: hidden;
}

.skewed-image {
  transition: transform 0.3s ease-in-out;
  transform: skew(-10deg);
}

.skewed-image:hover {
  transform: skew(0deg);
}
